<!DOCTYPE html>
<html>
  <head>
    <title>Msb2Rails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="container">
      <!-- <div style="position:fixed;bottom:0">
        <%= debug(params) if Rails.env.development? %>
      </div> -->
    </div>
  </body>

</html>
